name: Deploy to devops-server

on:
  workflow_run:
    workflows: ["CI/CD - Build, Test, Push Image"]
    types:
      - completed

jobs:
  deploy:
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    runs-on: self-hosted

    steps:
      - name: Deploy (pull + recreate)
        run: |
          cd /home/ubuntu/app
          docker compose pull
          docker compose up -d --force-recreate
