name: Docker Build

on: 
    push:
            branches:
              - main

jobs:
    build:
        runs-on: ubuntu-latest

        steps:
          - name: Checkout code
            use: actions/checkout@v4
          - name: Build Docker image
            run: docker build -t devops-ci-app .
